$purple1: #2f073e;
$purple2: #681d94;
$purple3: #a26bb8;
$purple4: #dcb8db;
$yellow1: #ffd300;
$yellow2: #fee977;
$yellow3: #fffad2;
$white: #fcfcfc;
$black: #212121;

* {
  font-family: "Montserrat", sans-serif;
  color: $purple1;
}

:root {
  --width: 100vw;

  @media (min-width: 42em) {
    --width: 42rem;
  }

  --angle: -7deg;
  /*-----------------
  Magic Number Alert:
  
  the 0.09719 is calculated by this formula:
  tan(11°) / 2
  11° is the current skewY value.
  ------------------*/
  --magic-number: 0.09719;
  --skew-padding: calc(var(--width) * var(--magic-number));
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: $yellow3;
}

.section-header {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 1;
  padding: 0.5rem 0 1.5rem 0;
}

.container {
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 1rem;
}

.diagonal-container {
  z-index: 2;
  position: relative;
  padding: var(--skew-padding) 0;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skewY(var(--angle));
    background-image: linear-gradient(180deg, $yellow3, $yellow2);
    border-top: 4px solid $yellow1;
    border-bottom: 4px solid $yellow1;
    box-shadow: $white 0px 4px 0px 0px, $yellow2 0px 8px,
      $white 0px 12px 0px 0px, $yellow3 0px 16px, $white 0px -4px 0px 0px,
      $yellow2 0px -8px, $white 0px -12px 0px 0px, $yellow3 0px -16px;
  }
}

.top-container {
  &:before {
    border-top: none;
    box-shadow: $white 0px 4px 0px 0px, $yellow2 0px 8px,
      $white 0px 12px 0px 0px, $yellow3 0px 16px;
  }
}

.reverse-diagonal-container {
  position: relative;
}

.white-container {
  z-index: 1;
  &:before {
    background-image: none;
    border: none;
    background-color: $white;
  }
}

// Header styling

.primary-header {
  background-color: $yellow3;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.styled-border {
  height: 50%;
  width: 100%;
}

.logo-link {
  z-index: 100;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  width: fit-content;
  h1 {
    font-size: 26px;
    padding: 0 0.75rem 0 0;
  }
  img {
    height: 26px;
    width: 26px;
  }
}

.logo-link::after {
  content: " ";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  border-right: 2px solid $purple2;
  border-bottom: 2px solid $purple2;
}

.primary-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1000;
  inset: 0 0 0 50%;
  background: $yellow2;
  padding: min(4rem, 10rem) 1rem;
  transform: translateX(100%);
  margin: 0;
  transition: all 0.2s ease-in-out;
  li,
  div {
    margin: 10px 0;
  }

  a {
    padding: 6px 8px;
    font-size: 1rem;
    transition: 0.15s;
    border-radius: 1px;
    text-decoration: none;
    list-style: none;
  }
  a:hover {
    background-color: $yellow2;
  }
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}

.mobile-nav-toggle-container {
  z-index: 9999;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  height: 36px;
  width: 36px;
  background-color: inherit;
  border: 2px solid $purple2;
  transform: translate(2px, 2px);
}

.mobile-nav-toggle {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $purple2;
  border: none;
  transition: 0.08s;
  transform: translate(-4px, -4px);

  &:hover {
    background-color: $purple3;
    color: $purple2;
  }
  &:active {
    transform: translate(0px, 0px);
  }
}

.span-1,
.span-2,
.span-3 {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  background: $yellow3;
  border-radius: 2px;
  width: 26px;
  height: 3px;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

.span-1 {
  transform: translateY(-4px);
}

.span-2 {
  transform: translateY(0px);
}

.span-3 {
  transform: translateY(4px);
}

.span-1[data-visible="true"] {
  transform: rotate(45deg) translate(1px, 1px);
  width: 30px;
}

.span-2[data-visible="true"] {
  display: none;
}

.span-3[data-visible="true"] {
  transform: rotate(-45deg) translate(1px, -1px);
  width: 30px;
}

@media (min-width: 50em) {
  .mobile-nav-toggle {
    display: none;
  }
}

.mobile-backdrop {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.2s ease-in-out;
}

.mobile-backdrop[data-visible="true"] {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
}

.showcase-container {
  display: grid;
}

.showcase-message-container {
  display: grid;
  grid-template-rows: 0.75fr, 1fr, 1.25fr, 1fr, 2fr;

  h4 {
    font-size: 1.2rem;
    line-height: 1;
  }
  h2 {
    font-size: 2.2rem;
    line-height: 1.5;
  }
  h1 {
    font-size: 3.5rem;
    line-height: 0.9;
    margin: 0;
    color: $purple2;
    font-weight: 1000;
  }
}

.showcase-grid-left {
  justify-self: start;
  margin: 0 2rem;
}

.showcase-grid-right {
  justify-self: right;
  margin: 0 2rem;
}

.showcase-grid-center {
  justify-self: center;
}

.showcase-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.75rem;
}

.styled-photo {
  transform: translate(-8px, -8px);
}

.picture-container {
  transform: translate(8px, 8px);
  width: fit-content;
}

.picture-container-dark {
  margin: 1rem 0;
  transform: translate(4px, 4px);
  width: fit-content;
  border: 3px solid $purple2;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  div {
    display: flex;
  }
  img {
    height: 25px;
    margin-right: 0.2rem;
  }
  p {
    font-size: 0.875rem;
    word-wrap: break-word;
    align-self: center;
  }
}

.showcase-span-container {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  span {
    display: flex;
    justify-content: flex-start;
  }
}

.about-me-container {
}

.about-me-carousel-container {
  transform: translate(4px, 4px);
  width: fit-content;
  border: 3px solid $yellow1;
}

.about-me-carousel {
  position: relative;
  aspect-ratio: 2/3;
  width: calc(100vw - 3rem);
  transform: translate(-0.5rem, -0.5rem);
  background-color: $yellow1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 300px;
    aspect-ratio: 2/3;
    object-fit: cover;
    position: absolute;
    transition: all 0.5s cubic-bezier(1, 0, 0.33, 1);
  }
}

.carousel-top-left {
  z-index: 1;
  transform: translate(-1.875rem, -2.875rem);
  filter: brightness(30%);
  opacity: 90%;
}

.carousel-bottom-right {
  z-index: 1;
  transform: translate(1.875rem, 2.875rem);
  filter: brightness(30%);
  opacity: 90%;
}

.carousel-center {
  z-index: 10;
  transform: translate(0px, 0px);
  filter: brightness(100%);
}

.about-me-text-container {
  h5 {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0 0.5rem 0;
  }
  p {
    font-size: 0.9rem;
    text-indent: 2rem;
  }
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-block-container {
  margin: 1.5rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.service-block {
  background-color: $purple3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translate(8px, 8px);
  height: 350px;
  aspect-ratio: 2/3;
  h4 {
    position: absolute;
    bottom: 1rem;
    color: $yellow3;
    font-size: 1.1rem;
    line-height: 0;
  }
}

.service-block::after {
  content: " ";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  transform: translate(8px, 8px);
  width: 100%;
  height: 100%;
  border: 4px solid $purple3;
}

.picture-overlay-div {
  position: relative;
  z-index: 1;
  transform: translate(-16px, -32px);
  img {
    height: 350px;
    aspect-ratio: 2/3;
    z-index: 2;
  }
  div {
    padding: 1rem;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    opacity: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.2s ease-in;
    background: hsl(0 0% 1% / 0.4);
    height: 350px;
    p {
      text-indent: 1rem;
      color: $white;
      font-size: 0.8rem;
    }
    h5 {
      color: $white;
      font-size: 1.05rem;
      line-height: 1;
      margin: 0.5rem 0 0 0;
    }
  }
}

.picture-overlay-div:hover {
  div {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .picture-overlay-div {
    div {
      opacity: 0;
    }
  }
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-block {
  z-index: 1;
  scroll-snap-align: center;
  width: 250px;
  height: 400px;
  img {
    height: 250px;
  }
  h5 {
    font-size: 1.25rem;
    line-height: 1;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
  }
  p {
    margin: 0.5rem;
  }
}

.testimonial-block::after {
  content: "";
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  width: 250px;
  height: 350px;
  border-bottom: 4px solid $yellow1;
  border-right: 4px solid $yellow1;
}

.testimonial-spinner-container {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 420px;
  padding: 0 0 1rem 0;
  touch-action: none;
}

.center {
  z-index: 10;
  transform: translate(0px, 0px);
  filter: brightness(100%);
}

.center,
.previous,
.next,
.hidden-3,
.hidden-2,
.hidden-1 {
  position: absolute;
  transition: all 0.5s ease-in;
}

.previous,
.next {
  opacity: 60%;
}

.previous {
  transform: translateX(-16rem) scale(0.8);
}

.next {
  transform: translateX(16rem) scale(0.8);
}

.hidden-3,
.hidden-2,
.hidden-1 {
  z-index: -1;
  opacity: 0;
  transform: translate(0px, 0px) scale(0);
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  background-color: $white;

  padding: 2rem 0 0 0;
  &:before {
    border-bottom: none;
    box-shadow: none;
  }
}

.footer-nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 6rem;
  padding: 1rem 0;
  margin: 0;
  li,
  a {
    text-decoration: none;
    list-style: none;
  }
}

.footer-demo {
  p {
    font-size: 0.75rem;
  }
}

// Button styling

.button-box {
  width: fit-content;
  border: 2px solid $yellow1;
  transform: translate(2px, 2px);
}

.button-box[data-visible="true"] {
  border: 2px solid $purple2;
}

.button {
  z-index: 1;
  background-color: $yellow1;
  border: none;
  font-size: 1.125rem;
  padding: 0.625rem 0.875rem;
  transition: 0.08s;
  transform: translate(-4px, -4px);

  &:hover {
    background-color: $yellow2;
    color: $purple2;
  }
  &:active {
    transform: translate(0px, 0px);
  }
}

.button[data-visible="true"] {
  background-color: $purple2;
  color: $white;

  &:hover {
    background-color: $purple3;
  }
}

.button-box-reverse {
  transform: translate(-2px, 2px);
}

.button-reverse {
  transform: translate(4px, -4px);
  &:active {
    transform: translate(0px, 0px);
  }
}

.secondary-button-box {
  border: 2px solid $purple2;
}

.secondary-button {
  padding: 0.5rem 1rem;
  background-color: $yellow3;
  border: 2px solid $purple2;
  border-style: inset;
  &:hover {
    background-color: $yellow3;
  }
  &:active {
    border: 2px solid transparent;
  }
}

.button-large {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;

  transform: translate(-5px, -5px);
}

.button-box-large {
  border: 3px solid $purple2;
  transform: translate(2.5px, 2.5px);
}

.button-dark {
  background-color: $purple2;
  color: $white;

  &:hover {
    background-color: $purple3;
    color: $white;
  }
}
