$purple1: #2f073e;
$pruple2: #681d94;
$purple3: #a26bb8;
$purple4: #dcb8db;
$yellow1: #ffd300;
$yellow2: #fee977;
$yellow3: #fffad2;
$white: #fcfcfc;
$black: #212121;

* {
  font-family: "Montserrat", sans-serif;
  color: $purple1;
}

body {
  background-color: $yellow3;
}
