$purple1: #2f073e;
$purple2: #681d94;
$purple3: #a26bb8;
$purple4: #dcb8db;
$yellow1: #ffd300;
$yellow2: #fee977;
$yellow3: #fffad2;
$white: #fcfcfc;
$black: #212121;

* {
  font-family: "Montserrat", sans-serif;
  color: $purple1;
}

body {
  background-color: $yellow3;
  width: 100%;
  overflow-x: hidden;
}

.container {
  $padding: 1rem;
  $max-width: 1110px;

  width: min($max-width, 100% - $padding * 2);
  margin-inline: auto;
}

// Button styling

.button-box {
  width: fit-content;
  border: 2px solid $yellow1;
  transform: translate(2px, 2px);
}

.button-box[data-visible="true"] {
  border: 2px solid $purple2;
}

.button {
  background-color: $yellow1;
  border: none;
  font-size: 1rem;
  padding: 6px 12px;
  transition: 0.08s;
  transform: translate(-4px, -4px);

  &:hover {
    background-color: $yellow2;
    color: $purple2;
  }
  &:active {
    transform: translate(0px, 0px);
  }
}

.button[data-visible="true"] {
  background-color: $purple2;
  color: $white;

  &:hover {
    background-color: $purple3;
  }
}

.button-box-reverse {
  transform: translate(-2px, 2px);
}

.button-reverse {
  transform: translate(4px, -4px);
  &:active {
    transform: translate(0px, 0px);
  }
}

.secondary-button-box {
  border: 2px solid $purple2;
}

.secondary-button {
  padding: 4px 10px;
  background-color: $yellow3;
  border: 2px solid $purple2;
  border-style: inset;
  &:hover {
    background-color: $yellow3;
  }
  &:active {
    border: 2px solid transparent;
  }
}

// Header styling

.primary-header {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.styled-border {
  height: 50%;
  width: 100%;
}

.logo-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  width: fit-content;
  h1 {
    font-size: 26px;
    padding: 0 0.75rem 0 0;
  }
  img {
    height: 26px;
    width: 26px;
  }
}

.logo-link::after {
  content: " ";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  border-right: 2px solid $purple2;
  border-bottom: 2px solid $purple2;
}

.primary-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1000;
  inset: 0 0 0 50%;
  background: $yellow2;
  padding: min(4rem, 10rem) 1rem;
  transform: translateX(100%);
  margin: 0;
  transition: all 0.2s ease-in-out;
  li,
  div {
    margin: 10px 0;
  }

  a {
    padding: 6px 8px;
    font-size: 1rem;
    transition: 0.15s;
    border-radius: 1px;
    text-decoration: none;
    list-style: none;
  }
  a:hover {
    background-color: $yellow2;
  }
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}

.mobile-nav-toggle-container {
  z-index: 9999;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  height: 36px;
  width: 36px;
  background-color: inherit;
  border: 2px solid $purple2;
  transform: translate(2px, 2px);
}

.mobile-nav-toggle {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $purple2;
  border: none;
  transition: 0.08s;
  transform: translate(-4px, -4px);

  &:hover {
    background-color: $purple3;
    color: $purple2;
  }
  &:active {
    transform: translate(0px, 0px);
  }
}

.span-1,
.span-2,
.span-3 {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  background: $yellow3;
  border-radius: 2px;
  width: 26px;
  height: 3px;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

.span-1 {
  transform: translateY(-4px);
}

.span-2 {
  transform: translateY(0px);
}

.span-3 {
  transform: translateY(4px);
}

.span-1[data-visible="true"] {
  transform: rotate(45deg) translate(1px, 1px);
  width: 30px;
}

.span-2[data-visible="true"] {
  display: none;
}

.span-3[data-visible="true"] {
  transform: rotate(-45deg) translate(1px, -1px);
  width: 30px;
}

@media (min-width: 50em) {
  .mobile-nav-toggle {
    display: none;
  }
}

.mobile-backdrop {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.2s ease-in-out;
}

.mobile-backdrop[data-visible="true"] {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
}

.showcase-container {
  display: grid;
}

.showcase-message-container {
  margin: 1.25rem 0;
  display: grid;
  grid-template-rows: 0.75fr, 1fr, 1.25fr, 1fr, 2fr;

  h4 {
    font-size: 1.2rem;
    line-height: 1;
  }
  h2 {
    font-size: 2.2rem;
    line-height: 1.5;
  }
  h1 {
    font-size: 3.5rem;
    line-height: 0.9;
    margin: 0;
    color: $purple2;
    font-weight: 1000;
  }
}

.showcase-grid-left {
  justify-self: start;
  margin: 0 2rem;
}

.showcase-grid-right {
  justify-self: right;
  margin: 0 2rem;
}

.showcase-grid-center {
  justify-self: center;
}

.showcase-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.75rem;
}

.styled-photo {
  transform: translate(-8px, -8px);
}

.picture-container {
  transform: translate(8px, 8px);
  width: fit-content;
}

.picture-container-dark {
  transform: translate(4px, 4px);
  width: fit-content;
  border: 3px solid $purple2;
}

.showcase-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1.25rem 0;

  div {
    display: flex;
  }
  img {
    height: 25px;
    margin-right: 0.2rem;
  }
  p {
    font-size: 12px;
    word-wrap: break-word;
    align-self: center;
  }
}

.showcase-span-container {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  span {
    display: flex;
    justify-content: flex-start;
  }
}

.about-me-container {
  h4 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1;
    margin-bottom: 1rem;
  }
}

.about-me-carousel-container {
  transform: translate(4px, 4px);
  width: fit-content;
  border: 3px solid $yellow1;
}

.about-me-carousel {
  position: relative;
  width: 280px;
  height: 400px;
  transform: translate(-8px, -8px);
  background-color: $yellow1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 300px;
    aspect-ratio: 2/3;
    object-fit: cover;
    position: absolute;
    transition: all 0.5s cubic-bezier(1, 0, 0.33, 1);
  }
}

.carousel-top-left {
  z-index: 1;
  position: relative;
  transform: translate(-30px, -40px);
  filter: brightness(30%);
  opacity: 90%;
}

.carousel-bottom-right {
  z-index: 1;
  transform: translate(30px, 40px);
  filter: brightness(30%);
  opacity: 90%;
}

.carousel-center {
  z-index: 10;
  transform: translate(0px, 0px);
  filter: brightness(100%);
}

.about-me-text-container {
  h5 {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0;
  }
  p {
    font-size: 0.9rem;
    text-indent: 2rem;
  }
}
